/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav img {
    width: 200px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Main Content */
main {
    padding: 20px 0;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
    text-decoration: none;
    color: inherit;
}

.feature h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #FF821E;
}

.feature p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.feature-icon {
    font-size: 40px;
    color: #FF821E;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}




/*---form---*/
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
    font-weight: 500;
}

form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

form select, form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

form textarea{
    resize: none;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #FF821E;
    outline: none;
}

form button {
    background-color: #FF821E;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e67300;
}

.hero-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero-text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #333;
}